.banner {
    text-align: center;
    background-image: url('../../../images/ho.jpg');
    height: 100vh; }

    .banner__welcome {
        font-size: 35px;
        box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.607) ;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px; }

.intro-1 {
    padding: 10px 50px;
    background: rgb(183, 245, 164); }
    .intro-1__title{
        color:red; }

.intro-2{
    text-align: center;
    height: 60vh;
    background-image: url('../../../images/bgr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

    .intro-2__title {
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px red;
        color:rgb(255, 255, 255); }
    .intro-2__text {
        border-radius: 10px;
        letter-spacing: 2px;
        padding: 10px;
        background-color: rgba(127, 255, 212, 0.703); 
        color:blue; }

.intro-3 {
    text-align: center;
    height: 100vh;
    background-image: url('../../../images/bgr2.png'); }
    .intro-3__title {
        border-radius: 10px;
        padding: 20px;
        background-color: rgba(196, 132, 255, 0.765);
        font-size: 30px;
        color:rgb(255, 250, 161); }